<ng-container>
<div class="container">
  <form [formGroup]="textForm">
    <mat-form-field>
      <textarea [formControl]="textForm.controls.text"
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="7"
                placeholder="Text"></textarea>
      <mat-hint align="end"><strong>{{textForm.controls.text.value.length}}/1000</strong> </mat-hint>
    </mat-form-field>

    <button color="primary" mat-raised-button [disabled]="!textForm.valid" (click)="onSubmit()" class="button-check">Check</button>
  </form>

  <app-check-result [result]="result" [text]="textForm.value.text"></app-check-result>

  <div class="explanation">
    <p>Text highlight explanation:</p>
    <ul>
      <li><span class="color"></span> - confidence is less than 33%</li>
      <li><span class="color"></span> - confidence is between 33% and 66%</li>
      <li><span class="color"></span> - confidence is more than 66%</li>
    </ul>
  </div>
</div>
</ng-container>
